@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.btn {
  background: #fead04;
  padding: 10px 20px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #fff;
}

.title {
  font-weight: 300;
  font-size: 50px;
  line-height: 138%;
  text-transform: uppercase;
  color: #000;
}

.nashe {
  margin: 90px 0;
}

.nashe_parent {
  padding: 40px 0;
}
.nashe_parent h2 b {
  font-weight: 900;
}
.nashe_parent .nashe_boxes {
  margin-top: 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 260px;
}
.nashe_parent .nashe_boxes .br img {
  transform: translateX(20px);
}
.nashe_parent .nashe_boxes .be img {
  transform: translateX(-60px);
}
.nashe_parent .nashe_boxes .hr img {
  transform: translateX(-150px);
}
.nashe_parent .nashe_boxes .box {
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(255, 241, 241, 0.5), rgba(246, 236, 236, 0.5)), url(../../../img/bugdoy2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.nashe_parent .nashe_boxes .box .left {
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.nashe_parent .nashe_boxes .box:hover {
  box-shadow: 4px 4px 20px rgb(254, 173, 2);
  transition: 0.7s;
  cursor: pointer;
}

@media (max-width: 1360px) {
  .nashe_parent .nashe_boxes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 260px 260px 260px;
  }
  .nashe_parent .nashe_boxes .rr img {
    transform: translateX(-100px);
  }
}
@media (max-width: 988px) {
  .nashe_parent .nashe_boxes .be img {
    width: 200px;
  }
}
@media (max-width: 898px) {
  .nashe_parent h2 {
    font-size: 45px;
  }
  .nashe_parent .nashe_boxes {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
  }
  .nashe_parent .nashe_boxes .box {
    flex-direction: column;
    gap: 10px;
  }
  .nashe_parent .nashe_boxes .box img {
    width: 150px;
  }
  .nashe_parent .nashe_boxes .box .left {
    margin-top: 10px;
    width: 100%;
  }
  .nashe_parent .nashe_boxes .be img {
    width: 200px;
  }
}
@media (max-width: 650px) {
  .nashe_parent h2 {
    font-size: 30px;
  }
  .nashe_parent .nashe_boxes .hr img {
    width: 250px;
  }
  .nashe_parent .nashe_boxes .box img {
    transform: none;
  }
}
@media (max-width: 562px) {
  .nashe_parent h2 {
    font-size: 20px;
  }
  .nashe_parent .nashe_boxes .hr img {
    width: 200px;
  }
  .nashe_parent .nashe_boxes .box {
    flex-direction: column;
    gap: 10px;
  }
  .nashe_parent .nashe_boxes .box img {
    transform: none;
    width: 150px;
  }
  .nashe_parent .nashe_boxes .box .left {
    width: 100%;
    margin-top: 10px;
  }
}
.navbar {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .fa-bars {
  border-radius: 100%;
  background-color: #f3b016;
  width: 50px;
  height: 50px;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  display: none;
}
.navbar .navbar2 {
  padding: 15px;
}
.navbar .line {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}
.navbar .mobile_menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  background-color: #f4a261;
  padding: 20px;
  transition: left 0.3s ease;
  color: white;
  z-index: 1000;
}
.navbar .mobile_menu.active {
  left: 0;
}
.navbar .close-btn {
  font-size: 24px;
  text-align: right;
  cursor: pointer;
}
.navbar .menu-links {
  list-style: none;
  margin-top: 20px;
}
.navbar .menu-links li {
  margin-bottom: 10px;
}
.navbar .menu-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.navbar .contact-info {
  margin-top: 20px;
  font-size: 14px;
}
.navbar .contact-info a {
  color: white;
  text-decoration: none;
}
@media (max-width: 867px) {
  .navbar .fa-bars {
    display: flex;
  }
  .navbar .fa-bars.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .navbar .fa-bars.active .line:nth-child(2) {
    opacity: 0;
  }
  .navbar .fa-bars.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}
.navbar .navbar_logo img {
  width: 200px;
}
.navbar .navbar_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navbar .navbar_links .links_top ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.navbar .navbar_links .links_top ul .ul2 {
  display: flex;
  gap: 10px;
}
.navbar .navbar_links .links_top ul li a {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.navbar .navbar_links .links_top ul li select {
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.navbar .navbar_links .links_bot ul {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar_links .links_bot ul .ul1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .navbar_links .links_bot ul li select {
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.navbar .navbar_lan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.navbar .navbar_lan .n1 {
  box-shadow: 0 7px 50px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  width: 67px;
  height: 50px;
  padding: 0 10px;
  font-weight: 900;
  font-size: 16px;
  color: #000;
  border: none;
}
.navbar .navbar_lan .tel p {
  font-weight: 300;
  font-size: 16px;
  color: #000;
}
.navbar .navbar_lan .tel .fa-phone {
  color: rgb(254, 173, 2);
}
.navbar .navbar_lan .tel select {
  border: none;
  outline: none;
  font-weight: 900;
  font-size: 16px;
  color: #000;
}

@media (max-width: 1393px) {
  .navbar .navbar_links .links_top ul li select {
    font-size: 14px;
  }
  .navbar .navbar_links .links_bot ul li select {
    font-size: 14px;
  }
}
@media (max-width: 1300px) {
  .navbar .navbar_logo img {
    width: 150px;
  }
  .navbar .navbar_links .links_top ul li a {
    font-size: 12px;
  }
  .navbar .navbar_links .links_top ul li select {
    font-size: 12px;
  }
  .navbar .navbar_links .links_bot ul li select {
    font-size: 12px;
  }
  .navbar .navbar_lan {
    gap: 10px;
  }
}
@media (max-width: 1122px) {
  .navbar .navbar_logo img {
    width: 150px;
  }
  .navbar .navbar_links .links_top ul {
    gap: 10px;
  }
  .navbar .navbar_links .links_bot ul {
    justify-content: center;
  }
  .navbar .navbar_links .links_bot ul .ul1 {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 941px) {
  .navbar .navbar_links .links_top ul {
    gap: 100px;
  }
  .navbar .navbar_links .links_top ul .ul2 {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 867px) {
  .container {
    width: 90%;
  }
  .navbar .navbar2 {
    order: 2;
  }
  .navbar .navbar_links {
    display: none;
  }
  .navbar .fa-bars {
    display: block;
  }
}
@media (max-width: 591px) {
  .navbar .navbar_logo img {
    width: 100px;
  }
  .navbar .navbar_lan .tel {
    display: none;
  }
  .navbar .navbar_lan .n1 {
    height: 40px;
  }
}
.showcase {
  position: relative;
}

.showcase_parent {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase_parent .right {
  display: none;
}
.showcase_parent .left {
  display: flex;
  align-items: center;
  transform: translateX(-150px);
}
.showcase_parent .left .text {
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.showcase_parent .left .text h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fead04;
}
.showcase_parent .left .text hr {
  width: 400px;
}
.showcase_parent .left .text p {
  font-weight: 300;
  font-size: 35px;
  line-height: 115%;
  color: #000;
}
.showcase_parent .left .text button {
  margin-top: 40px;
  width: 300px;
}
.showcase_parent .left .icon {
  transform: rotate(270deg);
  height: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.showcase_parent .left .icon button {
  background: rgba(254, 173, 4, 0.5);
  border: none;
  width: 29px;
  height: 29px;
  transform: rotate(90deg);
}
.showcase_parent .left .icon button a {
  color: #fff;
}
.showcase_parent .left .icon button:hover {
  background: #fead04;
  transition: 0.5s;
  cursor: pointer;
}
.showcase_parent .left .icon hr {
  transform: rotate(180deg);
  width: 100px;
  height: 2px;
  background-color: black;
  border: none;
}
.showcase_parent .left .icon p {
  font-weight: 900;
  font-size: 20px;
  line-height: 138%;
  color: #000;
}
.showcase_parent .n12 {
  position: absolute;
  width: 55%;
  right: 0;
  top: -50px;
  z-index: -1;
}

@media (max-width: 1406px) {
  .showcase_parent {
    margin-top: 100px;
  }
  .showcase_parent .left .text {
    transform: translateX(-100px);
  }
  .showcase_parent .n12 {
    position: absolute;
    width: 54%;
    right: 0;
    top: -20px;
    z-index: -1;
  }
}
@media (max-width: 1342px) {
  .showcase_parent .n12 {
    position: absolute;
    width: 52%;
    right: 0;
    top: -10px;
    z-index: -1;
  }
}
@media (max-width: 1337px) {
  .showcase_parent .right {
    top: 0px;
    right: -90px;
  }
  .showcase_parent .right .n12 {
    width: 85%;
  }
}
@media (max-width: 1254px) {
  .showcase_parent .left .text h1 {
    font-size: 55px;
  }
  .showcase_parent .left .text p {
    font-size: 25px;
  }
}
@media (max-width: 1209px) {
  .showcase_parent .left .text h1 {
    font-size: 50px;
  }
  .showcase_parent .left .text p {
    font-size: 20px;
  }
  .showcase_parent .n12 {
    position: absolute;
    width: 54%;
    right: 0;
    top: -20px;
    z-index: -1;
  }
}
@media (max-width: 1159px) {
  .showcase_parent .left .text h1 {
    font-size: 50px;
  }
  .showcase_parent .left .text p {
    font-size: 20px;
  }
  .showcase_parent .n12 {
    position: absolute;
    width: 52%;
    right: 0;
    top: -10px;
    z-index: -1;
  }
}
@media (max-width: 1114px) {
  .showcase_parent .left .text h1 {
    font-size: 45px;
  }
  .showcase_parent .left .text hr {
    width: 300px;
  }
  .showcase_parent .left .text p {
    font-size: 20px;
  }
  .showcase_parent .n12 {
    position: absolute;
    width: 50%;
    right: 0;
    top: -10px;
    z-index: -1;
  }
}
@media (max-width: 988px) {
  .showcase_parent .left .text h1 {
    font-size: 40px;
  }
}
@media (max-width: 905px) {
  .showcase_parent .left .text h1 {
    font-size: 35px;
  }
  .showcase_parent .left .text hr {
    width: 200px;
  }
  .showcase_parent .left .text p {
    font-size: 20px;
  }
  .showcase_parent .left .text button {
    width: 200px;
  }
  .showcase_parent .n12 {
    position: absolute;
    width: 50%;
    right: 0;
    top: -10px;
    z-index: -1;
  }
}
@media (max-width: 819px) {
  .showcase_parent .left .text h1 {
    font-size: 30px;
  }
  .showcase_parent .left .text hr {
    width: 200px;
  }
  .showcase_parent .left .text p {
    font-size: 14px;
  }
  .showcase_parent .n12 {
    position: absolute;
    width: 50%;
    right: 0;
    top: -10px;
    z-index: -1;
  }
}
@media (max-width: 724px) {
  .showcase_parent {
    margin-top: 30px;
    flex-direction: column;
    gap: 10px;
  }
  .showcase_parent .n12 {
    display: none;
  }
  .showcase_parent .right {
    display: block;
    order: -2;
  }
  .showcase_parent .left .text {
    transform: translateX(150px);
  }
  .showcase_parent .left .text h1 {
    font-size: 50px;
  }
  .showcase_parent .left .text p {
    font-size: 35px;
  }
  .showcase_parent .left .icon {
    display: none;
  }
}
@media (max-width: 603px) {
  .showcase_parent .left .text h1 {
    font-size: 45px;
  }
  .showcase_parent .left .text p {
    font-size: 30px;
  }
}
@media (max-width: 559px) {
  .showcase_parent {
    align-items: flex-start;
  }
  .showcase_parent .left .text {
    width: 100%;
    align-items: flex-start;
  }
  .showcase_parent .left .text h1 {
    font-size: 45px;
  }
  .showcase_parent .left .text p {
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  .showcase_parent .left .text h1 {
    font-size: 38px;
  }
  .showcase_parent .left .text p {
    font-size: 25px;
  }
}
@media (max-width: 350px) {
  .showcase_parent .left .text h1 {
    font-size: 30px;
  }
  .showcase_parent .left .text p {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
