@use "../global";
@use "../mixin" as *;
.nashe {
  margin: 90px 0;
}
.nashe_parent {
  padding: 40px 0;
  h2 {
    b {
      font-weight: 900;
    }
  }
  .nashe_boxes {
    margin-top: 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 260px;
    .br {
      img {
        transform: translateX(20px);
      }
    }
    .be {
      img {
        transform: translateX(-60px);
      }
    }
    .hr {
      img {
        transform: translateX(-150px);
      }
    }
    .box {
      .left {
        display: flex;
        background-color: #fff;
        align-items: center;
        padding: 20px;
        gap: 20px;
      }
      display: flex;
      align-items: center;
      background: linear-gradient(
          rgba(255, 241, 241, 0.5),
          rgba(246, 236, 236, 0.5)
        ),
        url(../../../img/bugdoy2.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .box:hover {
      box-shadow: 4px 4px 20px rgb(254, 173, 2);
      transition: 0.7s;
      cursor: pointer;
    }
  }
}
@media (max-width: 1360px) {
  .nashe_parent {
    .nashe_boxes {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 260px 260px 260px;
      .rr {
        img {
          transform: translateX(-100px);
        }
      }
    }
  }
}
@media (max-width: 988px) {
  .nashe_parent {
    .nashe_boxes {
      .be {
        img {
          width: 200px;
        }
      }
    }
  }
}
@media (max-width: 898px) {
  .nashe_parent {
    h2{
        font-size: 45px;
    }
    .nashe_boxes {
      grid-template-columns: 1fr ;
      grid-template-rows: 300px 300px 300px 300px 300px 300px;
      .box{
        img{
            width: 150px;
        }
        .left{
            margin-top: 10px;
            width: 100%;
        }
        flex-direction: column;
        gap: 10px;
      }
      .be {
        img {
          width: 200px;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .nashe_parent {
    h2{
        font-size: 30px;

    }
    .nashe_boxes {
      .hr {
        img {
          width: 250px;
        }
      }
      .box {
        img {

          transform: none;
        }
      }
    }
  }
}
@media (max-width: 562px) {
  .nashe_parent {
    h2{
        font-size: 20px;
    }

    .nashe_boxes {
      .hr {
        img {
          width: 200px;
        }
      }
      .box {
        img {

          transform: none;
          width: 150px;
        }
        flex-direction: column;
        gap: 10px;
        .left {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}
